body {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
  background-color: rgb(73, 79, 82);
  color: #fff;
}


/* Colors */
/* E63946 */
/* bbcde5 */
/*  1c5d99*/
/*  bbcde5*/